<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Exam</title>
</head>
<body>
  <div class="container-fluid">
    <br><br>
    <div class="row">
      <div class="col-md">
        <div class="allProducts">
          <h1>Product List</h1>
          <button class="btn btn-link" [routerLink]="['/new']">Add a new Product</button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id_num }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity}}</td>
                <td>${{ product.price }}</td>
                <td>
                  <button class="btn btn-link" [routerLink]="['/edit', product.id_num]">Edit</button> | 
                  <button class="btn btn-link" [routerLink]="['/show', product.id_num]">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>